body {
    background-color:#00a2ff;
}

h1 {
	color: #FFFFFF;
}

h3 {
    color:#FFFF00;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p::first-letter {
    font-size: 2.5ex;
}

.mood {
    width: 110px;
    height: 110px;
}

ul {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

a:link {
    text-decoration: none;
}

a:link {
    text-underline-position: unset;
}

a:visited {
    text-underline-position: unset;
}

a:hover {
    text-decoration-line: underline;
}

a:active{
    text-underline-position: unset;
}

.moviesList {
    list-style: upper-roman;
    color: #000000;
    font-weight: bolder;
}

#movie1, #movie2, #movie3 {
    width: 250px;
    padding: 10px;
    background-color:#0387d3;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
}

#movie1 {
    background-image: url(../Images/poster1.jpg);
}

#movie2 {
    background-image: url(../Images/poster2.jpg);
}

#movie3 {
    background-image: url(../Images/poster3.jpg);
}

dt, dd {
    color: green;
    font-weight: bold;
}

dt {
    float: left;
    clear: left;
    width: 130px;
    text-align: right;
}

dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
    text-align: left;
    padding-left: 25px;
}



