body {
    background-color:#00a2ff;
}

h1 {
	color: #FF0000;
}

h3 {
    color:#FFFF00;
}

p {
    font-family: "Arial Black";
}

li {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}