body {
    background-color:#00a2ff;
}

h1 {
	color: #FFFFFF;
}

h3 {
    color:#FFFF00;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p::first-letter {
    font-size: 2.5ex;
}

ul {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

a:link {
    text-decoration: none;
}

a:link {
    text-underline-position: unset;
}

a:visited {
    text-underline-position: unset;
}

a:hover {
    text-decoration-line: underline;
}

a:active{
    text-underline-position: unset;
}

.moviesList {
    list-style: upper-roman;
    color: #000000;
    font-weight: bolder;
}

.moviesList > li {
    background-repeat: no-repeat;
    background-position-x: 300px;
}

#movie1 {
    background-image: url(../Images/poster1.jpg);
}

#movie2 {
    background-image: url(../Images/poster2.jpg);
}

#movie3 {
    background-image: url(../Images/poster3.jpg);
}

dl {
    background-color: #FFFF00;
    width: 270px;
    padding: 10px;
}

dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: green;
}

dt::after {
    content: ":";
}

dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}



